<!DOCTYPE html>
<html lang="en" class="night-theme">
<head>
    <meta charset="UTF-8">
    <title>Bookage</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <h1>I'm here for your soul😈</h1>
    <h2>Бугага</h2>
    <h3>No jokes</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum aperiam officiis, repudiandae consequatur illo asperiores accusamus odio provident nemo recusandae eligendi sunt. Reprehenderit maxime, corporis quam ut earum beatae animi?</p>
</body>
</html>