@use '../abstracts/sizes';
@use '../abstracts/mixins' as m;


.side-bar {
    position: absolute;
    top: 15%;
    left: 30%;

    width: sizes.$side-bar-width;
    height: sizes.$side-bar-height;

    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(85, 31, 135, 0.37);
    @include m.backdrop-filter(blur(sizes.$bg-blur-size));
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
