@use 'sass:color';

$theme-class: '.night-theme';

$text-color: #9f00ff;

$primary: #222222;
$primary-dark: #000;
$primary-light: color.scale($primary, $lightness: +10%);

$secondary-dark: color.change(#551f87, $alpha: .37);
