* {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}
