@use '../abstracts/sizes';


// Nunito font
// light italic
@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

// light
@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

// italic
@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

// regular
@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

// bold
@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

// Caveat font
// regular
@font-face {
    font-family: 'Caveat';
    src: url('/fonts/Caveat-Regular.ttf');
    font-weight: 400;
}

// bold
@font-face {
    font-family: 'Caveat';
    font-weight: 700;
    src: url('/fonts/Caveat-Bold.ttf');
}
  

$heading-font: 'Caveat', cursive;
$default-font: 'Nunito', sans-serif;

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}

h1 { font-size: 4em; }
h2 { font-size: 3em; }
h3 { font-size: 2em; }

p, article { font-size: 1.2em; }

body {
    font-family: $default-font;
    font-size: sizes.$font-size;
}
