@mixin create-theme(
    $theme-class, $text-color,
    $primary, $primary-dark, $primary-light,
    $secondary-dark
) {
    html#{$theme-class} {
        body {
            background-color: $primary;
            & ::selection {
                background-color: $primary-light;
            }
        }
        p, article {
            color: $text-color;
        }
        .side-bar {
            box-shadow: 0 .5em 2em 0 $secondary-dark;
        }
    }
}

@mixin backdrop-filter($filter) {
    backdrop-filter: $filter;
    -webkit-backdrop-filter: $filter;
}
